# Project Name
COMPOSE_PROJECT_NAME=hermex

# RabbitMQ
RABBITMQ_DEFAULT_USER=hermex_user
RABBITMQ_DEFAULT_PASS=hermex_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_PROMETHEUS_PORT=15692

# PostgreSQL
POSTGRES_USER=hermex_admin
POSTGRES_PASSWORD=hermex_password
POSTGRES_DB=postgres
POSTGRES_PORT=5433
POSTGRES_MULTIPLE_DATABASES=orders_db,inventory_db,payments_db,gateway_db

# Redis
REDIS_PORT=6379

# Elasticsearch, Logstash & Kibana (ELK)
ELASTICSEARCH_PORT=9200
ES_JAVA_OPTS=-Xms512m -Xmx512m
LOGSTASH_PORT=5000
LS_JAVA_OPTS=-Xms256m -Xmx256m
KIBANA_PORT=5601

# Monitoring (Prometheus & Grafana)
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false
